*{
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@media screen and (max-width: 679px){
    body{
        background-color:black;
    }
    companyName{
        color: beige;
    }
}
@media screen and (min-width: 680px) and (max-width: 959px){
}
@media screen and (min-width: 960px){
    html{
        text-align: center;
        vertical-align: middle;
    }
    body{
        background-color:#D9D9D9;
        width: 100vw;
        height: 99vh;
    }
    .CompanyLogo{
        grid-column: 1;
        justify-self: center;
        height: 100%;
    }
    companyName{
        grid-column: 2;
        font-size: calc(0.8em + 1vw);
        line-height: 6.5vh;
        font-weight: bold;
        overflow: hidden;
        color: green;
    }
    .Infobox{
        line-height: 12.5vh;
        font-size: calc(0.6em + 1vw);
        overflow: hidden;
    }
    .Header{
        margin: 1vh;
        background-color: white;
        width: 99vw;
        height: 14vh;
        display: grid;
        min-height: 0;
        min-width: 0;
        grid-template-columns: 10% 10% 20% 20% 20% 20%;
        grid-template-rows: 100%;
        max-height: 100%;
    }
    .Sidebar{
        float: left;
        width: 19vw;
        height: 83vh;
        display: grid;
        grid-template-rows: 30% 70%;
        min-height: 0;
        min-width: 0;
    }
    .ChemicalList{
        margin: 1vh;
        background-color: white;
        display: grid;
        min-height: 0;
        min-width: 0;
    }
    chemicals{
        line-height: 5.5vh;
        font-size: calc(0.6em + 1vw);
    }
    .Basket{
        margin: 1vh;
        background-color: white;
        min-height: 0;
        min-width: 0;
    }
    .Products{
        float: left;
        margin: 1vh;
        background-color: white;
        height: 81vh;
        width: 79vw;
        min-height: 0;
        min-width: 0;
    }
    .Product{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
        min-height: 0;
        min-width: 0;
        width: 100%;
        height: 25%;
        border: 0.5vh solid black;
        overflow: hidden;
    }
    .ProductInfo{
        display: grid;
        grid-row: 1/3;
        white-space: nowrap;
    }
    .Acid{
        grid-row: 1/3;
        height: 100%;
        justify-self: center;
    }
    ItemName{
        grid-row: 1;
        align-self:flex-end;
        font-size: calc(1.2em + 1vw)
    }
    Price{
        grid-row: 2;
    }
    .Purchase{
        grid-row: 1/3;
        grid-column: 3/5;
        font-size: calc(1.6em + 2vw);
    }
}